@{
    ViewData["Title"] = "Cadastrar";
}

<div>
    <div class="text-center">
        <div>
        @*    <img src="/img/HomeVet2.png" style="width: 350px; height: auto;" />*@
            <a asp-action="Index" asp-controller="Home"> <img src="/img/Home Vet (4).png" style="width: 500px; height: auto;" /></a>

        </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        @* <button class="btn btn-primary" type="submit" asp-action="CadPaciente" asp-controller="Cadastro">Cad Paciente</button>*@

        <a class="btn btn-success " asp-controller="Cadastro" asp-action="CadPaciente">Cadastrar Paciente</a>
        <a class="btn btn-success " asp-controller="Cadastro" asp-action="cadProfissional"> Cadastrar Profissional</a>
        <a class="btn btn-success " asp-controller="Home" asp-action="Index"> Voltar</a>
    </div>

</div>